:root {
  --my-primary-color: #0055aa;
  --my-font-size: 16px;
}


.domain-www_aquaramatradefair_be {
  --my-primary-color: #0055aa;
  --my-font-size: 16px;
}

.domain-www_fm_day_be {
  --my-primary-color: #cc0000;
  --my-font-size: 18px;
}

body {
  font-size: var(--my-font-size);
}

a,
button {
  color: var(--my-primary-color);
}

